<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fud.spnew">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_Main2"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Main" />
        <activity
            android:name=".Activity_Identify"
            android:label="@string/title_activity_identify"
            android:parentActivityName=".Activity_Main2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fud.spnew.Activity_Main2" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.fud.spnew.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity_Process"
            android:label="@string/title_activity_process"
            android:parentActivityName=".Activity_Identify"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fud.spnew.Activity_Identify" />
        </activity>

        <activity
            android:name=".Activity_Crop"
            android:label="@string/title_activity_crop"
            android:theme="@style/AppTheme.NoActionBar">
            android:parentActivityName=".IdentifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fud.spnew.Activity_Identify" />
        </activity>
    </application>

</manifest>